
<div class="row">
  <div class="column left">
    <h2>Servicios:</h2>
    <ul>
      <li>Proyectos de alumbrado público</li>
      <li>Proyectos de mobiliario urbano</li>
    </ul>
  </div>
  <div class="column right">
    <h2>Productos:</h2>
    <ul>
      <li>Postes de alumbrado</li>
      <li>Mobiliario urbano</li>
      <li>Luminarias para alumbrado</li>
    </ul>
  </div>
</div>
