
<div class="row">
  <div class="column left">
    <h2>Servicios:</h2>
    <h3>Proyectos arquitectónicos</h3>
    <ul>
      <li>Residencias</li>
      <li>Comercial</li>
      <li>Industrial</li>
      <li>Desarrollo habitacional</li>
    </ul>
    <h3>Proyectos autosustentables</h3>
    <ul>
      <li>Ahorro de energía</li>
      <li>Recolección y reutilización de aguas grises</li>
      <li>Aprovechamiento de aguas pluviales</li>
    </ul>
    <h3>Proyectos de iluminación exteriores</h3>
    <ul>
      <li>Alumbrado público</li>
      <li>Iluminación escénica</li>
    </ul>
    <h3>Proyectos de Restauración</h3>
    <ul>
      <li>Espacios públicos</li>
      <li>Espacios privados</li>
    </ul>
  </div>
  <div class="column right">
    <h2>Productos:</h2>
    <ul>
      <li>Postes de alumbrado</li>
      <li>Mobiliario urbano</li>
      <li>Luminarias para alumbrado</li>
    </ul>
    Solicitar Información por correo a <%= mail_to "contacto@grupoarg24.com", "contacto@grupoarg24.com", subject: "Solicitud de Información" %>
  </div>
</div>
